# Dash et ses composants
dash
dash-bootstrap-components
plotly

# Gestion des données
pandas
openpyxl
python-dotenv
matplotlib

# Langchain et OpenAI
langchain==0.3.27
langchain-openai==0.3.35
langchain-core==0.3.79
langchain-experimental

# LangGraph
langgraph

# Tunnel ngrok
pyngrok

# Langfuse
langfuse

# OpenTelemetry
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp

# MLflow
mlflow
tabulate